@page "/TS/Filtro/AddTag"
@using System.Net.Http
@inject HttpClient Http
@inject NavigationManager NavigationManager
@*
    <h3>AddTag</h3>
    <h2> Id do Automovel </h2>
    <!--lista de automovels-->
    <!--Variavel que vai receber o automovel(id)-->
    <InputNumber @bind-Value="tagautomovel.Id" class="form-control" />

    <!--Lista de Tags-->
    <!--Variavel que vai receber a tag(id)-->
    <h2> Id da TAG </h2>
    <InputNumber @bind-Value="tagautomovel.TagId" class="form-control" />
*@

<!--mostrar os nomes-->
<div class="card m-3">
    <h4 class="card-header">Cadastro das Tags</h4>
    <div class="card-body">
        <EditForm Model="@tagautomovel" OnValidSubmit="ValidacaoTagAutomovel" @onreset="Reset">
            @*<DataAnnotationsValidator />*@
            @*
        <div class="form-row">
            <div class="form-group col">
                <label>Id da TAG</label>
                <InputNumber @bind-Value="tagautomovel.TagId" class="form-control" />

            </div>
        </div>
            *@
            <div class="form-row">
                <label>Tag</label>
                <InputSelect ValueExpression="@(() => tagautomovel.TagId)"
                             Value="@tagautomovel.TagId"
                             ValueChanged="@((string value) => OnChangeCat(value))">
                    <option value="">Selecione a Tag</option>
                    @foreach (var item in TagList)
                    {
                        <option value="@item.TagId">@item.Nome</option>
                    }
                </InputSelect>
            </div>


            <div class="form-row">
                <label>Automovels</label>
                <InputSelect @bind-Value="tagautomovel.Id">
                    <option value="">Selecione o Automovel</option>
                    @foreach (var automovel in AutomovelList)
                    {
                        <option value="@automovel.Id">@automovel.Nome</option>
                    }
                </InputSelect>
            </div>

            @*
        <div class="form-row">
            <div class="form-group col">
                <label>Id do automovel</label>
                <InputNumber @bind-Value="tagautomovel.Id" class="form-control" />

            </div>
        </div>
            *@
            <div class="text-center">
                <button type="submit" class="btn btn-primary mr-1">Salvar</button>
                <button type="reset" class="btn btn-secondary">Cancel</button>
            </div>
        </EditForm>

    </div>
</div>
@code {
    private TagAutomovelDTO tagautomovel = new TagAutomovelDTO();
    private List<Tag> TagList = new List<Tag>();
    private List<TagAutomovel> TagAutomovelList = new List<TagAutomovel>();
    private List<Automovel> AutomovelList = new List<Automovel>();
    private EditContext editContext { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var automovels = await Http.GetFromJsonAsync<List<Automovel>>("/Automovel/Listar");
        foreach (var item in automovels)
        {
            AutomovelList.Add(item);

        }

        var tags = await Http.GetFromJsonAsync<List<Tag>>("/Tag/ListarTAG");//Rota para o controller ir e trazer uma lista das Tags
        foreach (var item in tags)
        {
            TagList.Add(item);//adiciona cada item na TagList

        }

    }


    private async Task ValidacaoTagAutomovel()
    {
        var tp1 = await Http.PostAsJsonAsync("/TagAutomovel/AddTag", tagautomovel);
        Console.WriteLine(tagautomovel);
        NavigationManager.NavigateTo("/TS/Automovel/ListarAutomovel"); // Navega até o endereco forçando o navegador a dar reload
    }

    private void Reset()
    {
        //tagautomovel = new TagAutomovel();
        editContext = new EditContext(tagautomovel); //assim a validação nao é atualizada
    }

    private async Task OnChangeCat(string value)
    {
        tagautomovel.TagId = value; //Seta o valor da Categoria no TagAutomovelDTO
        var tagautomovels = await Http.GetFromJsonAsync<List<TagAutomovel>>("/TagAutomovel/LTagAutomovel");
        var automovelsByCategory = tagautomovels.Where(c => c.TagId == Convert.ToInt32(value));
        foreach (var item in automovelsByCategory)
        {
            TagAutomovelList.Add(item);
        }

    }
}
