@page "/TS/Usuario/UsuarioCadastro"
@using System.Net.Http
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Cadastro Usuario</h3>
<div class="card m-3">
    <h4 class="card-header"></h4>
    <div class="card-body">
        <EditForm Model="Usuario" OnValidSubmit="ValidacaoVend">
            <DataAnnotationsValidator />
            <div class="form-group">
                
                    <div class="form-row">
                        <div class="form-group col-5">
                            <table>Id Usuario</table>
                            <InputText class="form-control" @bind-Value="@Usuario.IdUsuario" />
                            @*<ValidationMessage For="@(() => form.Sobrenome)" />*@
                        </div>
                        <div class="form-group col-5">
                            <table>Nome</table>
                            <InputText class="form-control" @bind-Value="@Usuario.Nome" />
                            @*<ValidationMessage For="@(() => form.Nome)" />*@
                        </div>
                        <div class="form-group col-5">
                            <table>Endereco</table>
                            <InputText class="form-control" @bind-Value="@Usuario.Endereco" />
                        </div>
                        <div class="form-group col-5">
                            <table>Cpf</table>
                            <InputText class="form-control" @bind-Value="@Usuario.Cpf" />
                        </div>
                        <div class="form-group col-5">
                            <table>DatadeNasc</table>
                            <InputText class="form-control" @bind-Value="@Usuario.DatadeNasc" />
                        </div>
                        <div class="form-group col-5">
                            <table>Telefone</table>
                            <InputText class="form-control" @bind-Value="@Usuario.telefone" />
                        </div>
                        <div class="form-group col-5">
                            <table>Email</table>
                            <InputText class="form-control" @bind-Value="@Usuario.email" />
                        </div>
                    </div>
            </div>
            <button class="btn btn-outline-primary" type="submit">Salvar</button>
            <button class="btn btn-outline-secondary" type="reset">Cancel</button>
        </EditForm>
    </div>
</div>


@code {
    private UsuarioDTO Usuario = new UsuarioDTO();

    private async Task ValidacaoVend()
    {
        var vend1 = await Http.PostAsJsonAsync("/Usuario/CUsuario", Usuario); //manda para o controller criar uma Usuario por um  Json Async
        NavigationManager.NavigateTo("TS/Usuario/ListarUsuario"); // Navega até o endereco forçando o navegador a dar reload
    }
}
